.inline-block {
    display: inline-block;
    padding: 15px;
    vertical-align: top;
}
nav {
    /*padding: 1%;*/
    font-size: 30px;
    color: white;
    background-color: #074b8c;
    font-family: 'Inria Sans', sans-serif;
}
ul {
    text-align: right;
    /*margin-left: auto;*/
    list-style: none;
    padding: 2%;
}
.hotlabs {
    float: right;
    color: #074b8c;
    font-size: 60px;
    font-family: 'Inria Sans', sans-serif;
}
.heroImg {
    background-size: cover;
    background-image: url("../images/Hero\ Image.png");
    background-repeat: no-repeat;
    height: 600px;
}
.content {
    background-color: #074B8C;
    background-color: rgba(7,75,140,0.35);
    text-align: right;
    position: absolute;
    max-width: 500px;
    margin: 0 auto;
    color: white;
    padding: 25px;
}
.donate {
    background-color: #FF564D;
    font-size: 30px;
    padding: 2%;
    text-align: center;
    font-style: bold;
    color: white;
    font-family: 'Inria Sans', sans-serif;
}    
h2 {
    font-size: 34px;
    color: white;
    font-family: 'Inria Sans', sans-serif; 
}
#containerGrid {
    margin: 5px 5%;
    display: grid;
    grid-template-rows: 630px 630px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "rufus bluey sirCharles"
    "triumph sheRa ladyQ"
    ;
}
.containerGridArea {  
    display: grid;
    margin: 5px;  
    font-size: 24px;
    background-color: #E4EBF1;
    background-size: 500px 300px;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    color: #074b8c;
    border: 2px solid #417BAB;
}
.moreInfo {
    font-family: 'Inria Sans', sans-serif;
    font-size: 18px;
    color: white;
    background-color: #074b8c;
    height: 48px;
    width: 130px;  
}
.heading {
    font-size: 34px; 
    font-family: 'Inria Sans', sans-serif; 
    margin: 15px;
}
.description {
    font-size: 20px;
    font-family: 'Noto Sans', sans-serif;   
    margin-bottom: 20px;
}
#rufus {
    grid-area: rufus;
}
#bluey {
    grid-area: bluey;
}
#sirCharles {
    grid-area: sirCharles;
}
#triumph {
    grid-area: triumph;
}
#sheRa {
    grid-area: sheRa;
}
#ladyQ {
    grid-area: ladyQ;
}
/*.column {
    display: flex;
    flex-direction: column;
    padding: 50px;
}
.top1 {
    height: 50%;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #E4EBF1;
    padding: 50px;
    margin: 2;
}
.top2 {
    height: 50%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: #E4EBF1;
    padding: 50px;
}
*/
footer {
    background-color: #417BAB;
    /*padding: 1%;*/
    color: white;
    font-size: 24px;   
    font-family: 'Noto Sans', sans-serif;
}
@media only screen and (max-width: 600px) {
    #containerGrid {
        grid-template-rows: 500px 500px 500px 500px 500px 500px;grid-template-columns: 1fr;
        grid-template-areas: 
        "rufus"
        "bluey"
        "sirCharles"
        "triumph"
        "sheRa"
        "ladyQ";
    }
}