.inline-block {
    display: inline-block;
    padding: 15px;
    vertical-align: top;
}
nav {
    /*padding: 1%;*/
    font-size: 30px;
    color: white;
    background-color: #074b8c;
    font-family: 'Inria Sans', sans-serif;
}
ul {
    text-align: right;
    /*margin-left: auto;*/
    list-style: none;
    padding: 4%;
}
.hotlabs {
    float: right;
    color: #074b8c;
    font-size: 60px;
    font-family: 'Inria Sans', sans-serif;
}
.heroImg {
    background-size: cover;
    background-image: url("../images/Hero\ Image.png");
    background-repeat: no-repeat;
    height: 600px;
}
.content {
    text-align: right;
    position: absolute;
    width: 500px;
    margin: 0 auto;
    color: white;
}
h2 {
    font-size: 34px;
    color: white;
    font-family: 'Inria Sans', sans-serif; 
}
h3 {
    font-size: 34px;
    color: #074b8c;
}
p {
    font-size: 20px;
    color: #074b8c;   
    font-family: 'Noto Sans', sans-serif; 
}
footer {
    background-color: #417BAB;
    /*padding: 1%;*/
    color: white;
    font-size: 24px;   
    font-family: 'Noto Sans', sans-serif;
}


